@import "../Variables";

.character-bio {
    width: 100%;
    height: 100%;
    z-index: 2000;
    position: fixed;
    background-image: url(https://i.annihil.us/u/prod/marvel/i/mg/c/90/537bb1f94fa4f.gif);
    color: $white;
    overflow-y: auto;

    .character {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .name {
        font-size: 50px;
        line-height: 70px;
    }

    .description {
        font-size: 16px;
    }

    img {
        border-radius: 50%;
        border: 5px solid $primary-color;
    }

    .content {
        overflow-y: auto;
    }
}
