.notFound {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    margin-top: 50px;
    padding: 10px;

    p {
      font-size: 40px;
      line-height: 50px;
    }

    img {
      margin-top: 80px;
      margin-bottom: 20%;
    }
}