@import "../Variables";

.actionBtn {
    position: relative;
    display: inline-block;
    background-color: $primary-color;
    margin-left: 0;
    border-style: solid;
    border-width: 1px;
    height: 80px;
    -webkit-transform: skew(-11deg,0);
    -ms-transform: skew(-11deg,0);
    transform: skew(-11deg,0);
    color: $white;
    font-size: 30px;
    line-height: 32px;
    outline: 0;
    text-decoration: none;
    z-index: 100;

    &:hover {
        background-color: $hover-primary-color;
        cursor: pointer;
    }

    &.smallBtn {
        font-size: 15px;
        height: 38px;
    }

    &.smallLink {
        font-size: 15px;
        height: 38px;
        width: 40px;
        display: flex;
        justify-content: center;
    }

    &[disabled] {
        background-color: $light-grey;
        color: $white;
        cursor: default;
    }

    &.semiVisible {
        opacity: 0.5;
    }
}
