@import "../Variables";

.character-card {
    &:hover {
        box-sizing: border-box;
        border: 2px solid $primary-color;
    }

    .mdl-card--expand {
        padding: 0px;

        .mdl-button {
            width: 100%;
            height: 100%;
            padding: 0px;

            img {
                width: 100%;
            }
        }
    }

    .mdl-card__actions {
        height: 52px;
        padding: 0px;
        background: black;
        opacity: 0.9;
        border-top: 1px solid $white;

        .mdl-button {
            padding: 0px;
        }

        :hover {
            background: $primary-color;
        }
    }

    .characterName {
        width: 100%;
        height: 100%;
        color: $white;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}