@import "../Variables";

.custom-search {
    font-size: 40px;
    display: flex;
    width: 50%;
    padding: 10px 0 0 0;
    margin-top: 20px;
    margin-right: 50px;
    color: $black;
    align-items: flex-end;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    label {
      color: $black;
    }

    input {
      font-size: 30px;
      font-style: italic;
      line-height: 30px;
      margin-right: 20px;
      align-self: flex-end;
      margin-top: 10px;
    }

    &.mdl-textfield--floating-label {
        &.is-focused,
        &.is-dirty {
            .mdl-textfield__label {
              color: $light-grey;
              &:after {
                visibility: hidden;
              }
            }

            &.mdl-textfield__input {
              border-bottom: 2px solid $black;
            }
        }
    }
}
