@import "../Variables";

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    padding: 10px;
    color: $white;

    &.fixed {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
}