@import "../Variables";

.infoPanel {
    @media (max-width: 479px) {
        .infoCell {
            justify-content: center;
        }
    }

    h2 {
        font-size: 30px;
        margin: 0;
        line-height: 30px;
        text-transform: uppercase;
    }
    .title {
        font-size: 14px;
    }

    .description {
        font-size: 12px;
    }

    .infoCell img {
        border: 2px solid $white;
        margin-bottom: 10px;
        border-radius: 0%;
    }
}