header {
    &.mdl-layout__header {
        margin-top: 15px;
        margin-bottom: 20px;
        display: flex;

        @media screen and (max-width: 1024px) {
            margin-bottom: 50px;
        }
    }

    .mdl-layout__header-row {
        padding-left: 15px;

        @media screen and (max-width: 1024px) {
            .mdl-grid {
                margin-top: 95px;
            }
        }

        .logo-heading {
            display: block;
            height: 78px;
            background: url(//i.annihil.us/u/prod/misc/marvel.svg);
            background-size: 200px 78px;
            background-repeat: no-repeat;
            padding-left: 210px;
            color: #222;
            text-decoration: none;
            font-size: 78px;
            line-height: 73px;
            text-transform: uppercase;

            @media screen and (max-width: 615px) {
                height: 50px;
                background-size: 128px 50px;
                padding-left: 130px;
                font-size: 50px;
                line-height: 43px;
            }
        }
    }
}