.noSearchResults {
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .content {
        margin-bottom: 80px;

        span {
            font-style: italic;
        }
    }

    img {
        margin-bottom: 20%;
    }
}
