body {
  font-family: 'Oswald';
  background: url('https://developer.marvel.com/i/images/developers/account-bg.jpg') center / cover;
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.loading {
  opacity: 0.5;
}